body{background:#0b0b0b;color:white;text-align:center;font-family:Arial;}
.logo{width:120px;margin-top:20px;}
button{margin:10px;padding:15px;border-radius:12px;background:#1c1c1c;color:white;border:none;font-size:16px;}
.card{background:#1a1a1a;margin:12px;padding:20px;border-radius:15px;}
