body{background:#0b0b0b;color:#fff;font-family:Arial;text-align:center;margin:0}
.logo{width:120px;margin:15px auto}
.btn{display:block;width:85%;margin:10px auto;padding:18px;border-radius:16px;background:#1c1c1c;color:#fff;border:none;font-size:18px}
.back{background:#222;padding:12px;border-radius:10px;margin:10px}
